**/*.log
**/*.TDS
**/*.SCC
**/*.vbw
**/*.oca
**/*.bin
**/*.ind
**/*.swf
**/*.ini
**/*.dat
**/*.exe
Editor/Datos/*
Editor/CDM/*
Editor/OUTPUT/*
Cliente/Recursos/*
Cliente/Fotos/*
Cliente/Videos/*
Recursos/
***/Wav/*
**/Datos
**/*.tmap
Midi
Raw/**

*.rar
*.*.bak
*.*.old
Cliente/Lenguajes/*


!Cliente/Recursos/LOGO.jpg
!Cliente/Recursos/cerrar.jpg
!Cliente/Recursos/mover.jpg

